<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Follower!</title>
    <style>

        :root{
            color: darkmagenta;

            font-family: 'Chelsea Market', cursive;
            font-size: 32px;
        }
        *{
         padding:0; margin:0; box-sizing: border-box;
        }
        body{
            height: 100vh;
            width: 100vw;
        }
        .banner{
            fill:yellow;

            text-shadow: 0 0 5px blue;
        }
        .banner-background{
            fill: blue;
            font-size: 32px;
        }

        .subscriber{
            font-family: 'Luckiest Guy', cursive;
            fill: navy;
            text-shadow: 0 0 10px aquamarine;
        }

        #app{
            display: flex;
            height: 100vh;
            width: 100vw;
            justify-content: center;
            align-items: flex-end;
            overflow: hidden;
        }

        #app>svg{
            padding: 20px;
        }

        .subscriber{
            align-self: center;
            max-width: 300px;
            text-align: center;
        }

        .canvas{
            position: fixed;
            top: 0;
            left: 0;
            background-color: transparent;
            height: 100vh;
            width: 100vw;
            transition: opacity 1s ease;
        }

        .canvas.fade{
            opacity: 0;
        }

        .fade-enter-active {
            transition: opacity 1s ease, transform 2s ease-in-out;
        }
        .fade-leave-active {
            transition: opacity 2s ease, transform 2s ease-in-out;
        }

        .fade-enter-from,
        .fade-leave-to {
            opacity: 0;
        }
        .fade-enter-from {
            transform: rotateY(360deg);
        }
        .fade-leave-to {
            transform: rotateY(360deg);
        }
    </style>
    <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/comfy.js@latest/dist/comfy.min.js"></script>
</head>
<body>

    <div id="app">
            <canvas v-for="confetti in confettiList"
                    :key="confetti.id"
                    :id="'canvas'+confetti.id"
                    :class="confetti.class"
                    ref="canvas"
                    class="canvas"></canvas>
            <transition name="fade" mode="out-in">
                <div v-if="currentSub" class="subscriber" :key="currentSub.id">
                    Thanks {{currentSub.user}}
                    <img src="SubscriberParty.png" height="200" width="200" />
                </div>
            </transition>
            <transition name="fade" mode="out-in">
            <svg v-if="currentEvent"
                :key="currentEvent.id"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="400"
                viewPort="0 0 400 400">
                <ellipse cy="50" cx="100" ry="50" rx="100" fill="chartreuse"/>
                <path d="M 0,25 L 250,0 L 100,125 Z" fill="darkmagenta"/>
                <text x="3" y="38" class="banner-background" transform="rotate(-10) translate(0 35)">NEW FOLLOWER</text>
                <text x="0" y="35" class="banner" transform="rotate(-10) translate(0 35)">NEW FOLLOWER</text>
                <rect x="0" y="80" width="100%" height="40" fill="hotpink" />
                <text x="200" y="85" dominant-baseline="hanging" text-anchor="middle" class="subscriber">{{currentEvent.event.user_name}}</text>
            </svg>
            </transition>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./secret_vars.js"></script>
    <script type="module">
        import ConfettiGenerator from 'https://unpkg.com/confetti-js@0.0.18/dist/index.es.js';
        Pusher.logToConsole = true;

        const pusher = new Pusher(PUSHER_KEY,{cluster: 'us2'});
        const channel = pusher.subscribe(PUSHER_CHANNEL);

        channel.bind('debug', console.log);

        const channelName = "fimion"

        const CONFETTI_TIME = 10000;

        const subAudio = new Audio('./subAudio.mp3');
        subAudio.volume = 1;
        subAudio.addEventListener('loadeddata',()=>{
          //subAudio.play();
        })
        const fireworksAudio = new Audio('./fireworks.mp3');
        fireworksAudio.volume = 0.35;
        fireworksAudio.addEventListener('loadeddata',()=>{
          //fireworksAudio.play();
        })
        const followerAudio = new Audio('./newFollowerSound.mp3');
        followerAudio.volume = 0.7;
        followerAudio.addEventListener('loadeddata',()=>{
          //followerAudio.play();
        })

        const raidNoise = new Audio('./raidNoise.mp3');
        raidNoise.volume = 1;

        window.addEventListener('click',()=>{
          subAudio.play();
          followerAudio.play();
          fireworksAudio.play();
          raidNoise.play();
        })

        Vue.createApp({
            data(){
                return {
                    queue:[],
                    idCounter:0,
                    subQueue:[],
                    currentTimeout: null,
                    confettiCount:0,
                    confettiList:[],
                    raidQueue:[],
                }
            },
            computed:{
                currentEvent(){
                    return this.queue[0];
                },
                currentSub(){
                    return this.subQueue[0];
                },
                currentRaid(){
                    return this.raidQueue[0];
                }

            },
            watch:{
                currentSub(val){
                    if(val && val.user){
                        subAudio.play();
                    }
                },
                currentEvent(val){
                    if(val){
                        followerAudio.play();
                    }
                },
                currentRaid(val){
                    if(val){
                        raidNoise.play();
                    }
                }
            },
            async beforeCreate(){
                ComfyJS.Init(channelName);
            },
            mounted(){


                channel.bind('channel.follow', (message) => {
                        console.log(message);
                        this.queue.push(message);

                        console.log(this.queue);

                        this.setupRemoveItem()
                    });

                subAudio.addEventListener('ended', this.removeSubEvent);
                raidNoise.addEventListener('ended', this.removeRaidEvent);

                ComfyJS.onSub = this.addSubEvent;
                ComfyJS.onResub = this.addSubEvent;
                ComfyJS.onSubGift = this.addSubEvent;
                ComfyJS.onSubMysteryGift = this.addSubEvent;
                ComfyJS.onGiftSubContinue = this.addSubEvent;
                ComfyJS.onRaid = this.addRaidEvent;
                ComfyJS.onCommand = (user, command, message, flags, extra) => {
                    const hasPermission = flags.broadcaster || flags.mod || flags.subscriber || flags.vip;
                    switch(command){
                        case 'subsound':
                            subAudio.play();
                            break;
                        case 'followsound':
                            followerAudio.play();
                            break;
                        case 'celebrate':
                            if(!hasPermission && extra.sinceLastCommand.any < CONFETTI_TIME) return;
                            this.confetti();
                            break;
                        case 'cornfetti':
                            if(!hasPermission && extra.sinceLastCommand.any < CONFETTI_TIME) return;
                            this.confetti([
                                {type:'svg',src:'img/corns/corn-1.svg', weight: 0.5, size: 50},
                                {type:'svg',src:'img/corns/corn-2.svg', weight: 0.5, size: 50},
                                {type:'svg',src:'img/corns/corn-3.svg', weight: 0.5, size: 50},
                            ], 175, {rotate:true});
                            break;
                        case 'donutfetti':
                            if(!hasPermission && extra.sinceLastCommand.any < CONFETTI_TIME) return;
                            this.confetti([
                                {type:'svg',src:'img/donuts/donut-1.svg', weight: 0.5, size: 50},
                                {type:'svg',src:'img/donuts/donut-2.svg', weight: 0.5, size: 50},
                                {type:'svg',src:'img/donuts/donut-3.svg', weight: 0.5, size: 50},
                                {type:'svg',src:'img/donuts/donut-4.svg', weight: 0.5, size: 50},
                            ], 175, {clock: 65, rotate:true});
                            break;
                        case 'tacofetti':

                            if(!hasPermission && extra.sinceLastCommand.any < CONFETTI_TIME) return;
                            this.confetti([
                                {type:'svg',src:'img/tacos/taco-1.svg', weight: 0.5, size: 50},
                                {type:'svg',src:'img/tacos/taco-2.svg', weight: 0.5, size: 50},
                                {type:'svg',src:'img/tacos/taco-3.svg', weight: 0.5, size: 50},
                            ], 175, {rotate:true});
                            break;
                        case 'babyface':
                            if(!hasPermission && extra.sinceLastCommand.any < CONFETTI_TIME) return;
                            this.confetti([
                                {type:'svg',src:'img/okra-1.svg', weight: 0.5, size: 50},
                                {type:'svg',src:'img/okra-babyface.png', weight: 0.25, size: 150},
                            ], 100, {clock:20});
                            break;
                    }

                };

            },
            methods:{
                // celebrate(user, message, flags, extra){
                //     const hasPermission = flags.broadcaster || flags.mod || flags.subscriber || flags.vip;
                //     if(!hasPermission && extra.sinceLastCommand.any < CONFETTI_TIME) return;
                //     switch(0){
                //         case message.indexOf('corn'):
                //             this.confetti([
                //                 {type:'svg',src:'img/corns/corn-1.svg', weight: 0.5, size: 50},
                //                 {type:'svg',src:'img/corns/corn-2.svg', weight: 0.5, size: 50},
                //                 {type:'svg',src:'img/corns/corn-3.svg', weight: 0.5, size: 50},
                //             ], 175, {rotate:true});
                //             break;
                //         case message.indexOf('donut'):
                //             this.confetti([
                //                 {type:'svg',src:'img/donuts/donut-1.svg', weight: 0.5, size: 50},
                //                 {type:'svg',src:'img/donuts/donut-2.svg', weight: 0.5, size: 50},
                //                 {type:'svg',src:'img/donuts/donut-3.svg', weight: 0.5, size: 50},
                //                 {type:'svg',src:'img/donuts/donut-4.svg', weight: 0.5, size: 50},
                //             ], 175, {clock: 65, rotate:true});
                //             break;
                //         case message.indexOf('taco'):
                //             this.confetti([
                //                 {type:'svg',src:'img/tacos/taco-1.svg', weight: 0.5, size: 50},
                //                 {type:'svg',src:'img/tacos/taco-2.svg', weight: 0.5, size: 50},
                //                 {type:'svg',src:'img/tacos/taco-3.svg', weight: 0.5, size: 50},
                //             ], 175, {rotate:true});
                //             break;
                //         case message.indexOf('babyface'):
                //             this.confetti([
                //                 {type:'svg',src:'img/okra-1.svg', weight: 0.5, size: 50},
                //                 {type:'svg',src:'img/okra-babyface.png', weight: 0.25, size: 150},
                //             ], 100, {clock:20});
                //             break;
                //         default:
                //             this.confetti();
                //             break;
                //     }
                // },
                async confetti(particles, max=1000, options={}){
                    const id = this.confettiCount;
                    this.confettiList.push({
                        id,
                        class: "",
                    });

                    this.confettiCount++;

                    await this.$nextTick();

                    const confetti = new ConfettiGenerator({
                        target: 'canvas'+id,
                        max,
                        props:particles,
                        height: window.innerHeight,
                        width: window.innerWidth,
                        clock: 60,
                        ...options
                    });
                    confetti.render();
                    fireworksAudio.play();
                    setTimeout(()=>{
                        const index = this.confettiList.findIndex((e)=>e.id === id);
                        this.confettiList[index].class = "fade";
                    }, CONFETTI_TIME - 1000);
                    setTimeout(()=>{
                        confetti.clear()
                        const index = this.confettiList.findIndex((e)=>e.id === id);
                        this.confettiList.splice(index, 1);
                    }, CONFETTI_TIME);
                },
                setupRemoveItem(){
                    if(!this.currentTimeout){
                        this.currentTimeout = setTimeout(()=>this.removeItem(), 3000);
                    }
                },
                removeItem(){
                    clearTimeout(this.currentTimeout);
                    this.currentTimeout = null;
                    this.queue.shift();
                    if(this.queue.length){
                        this.setupRemoveItem();
                    }
                },

                addSubEvent(user,message,subTierInfo,extra){

                    this.subQueue.push({id:this.idCounter,user,message,subTierInfo,extra});
                    this.idCounter++;
                },
                removeSubEvent(){
                    setTimeout(()=>{
                        this.subQueue.shift();
                    }, 2000);
                    
                },
                addRaidEvent(user,viewers,extra){
                    this.raidQueue.push({id:this.idCounter,user,viewers,extra});
                    this.idCounter++;
                },
                removeRaidEvent(){
                    setTimeout(()=>{
                        this.raidQueue.shift();
                    },2000);
                }
            
            }
        }).mount("#app")
    </script>
</body>
</html>
